.pos-rel{
    position:relative;
    border: 1px solid transparent
}
.pos-abs{
    display: none;
    position:absolute;
    right: 20px;
    top: 10px;
    /* transition: all 6s; */
}

.pos-rel:hover{
    border: 1px solid gainsboro
}
.pos-rel:hover .pos-abs{
    display: block;
}